@using Rmit.Asr.Application.Models
@model IEnumerable<Rmit.Asr.Application.Models.Student>

@{
    ViewData["Title"] = "Student Listing";
}

<h1 class="pb-2">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (Student student in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => student.StudentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.Email)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>