@inject UserManager<Student> UserManager
@using Microsoft.AspNetCore.Identity
@using Rmit.Asr.Application.Models
@model IEnumerable<Rmit.Asr.Application.Models.Slot>

@{
    ViewData["Title"] = "My Slots";
}

<h2 class="pb-2">@ViewData["Title"]</h2>
<partial name="_StatusMessage"/>
<div class="row">
    <div class="col-12">
        @if (Model.Any())
        {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="vertical-middle">
                        @Html.DisplayNameFor(model => model.RoomId)
                    </th>
                    <th class="vertical-middle">
                        Start Date
                    </th>
                    <th class="vertical-middle">
                        Start Time
                    </th>
                    <th class="vertical-middle">
                        @Html.DisplayNameFor(model => model.Staff.StaffId)
                    </th>
                    <th class="vertical-middle">
                        @Html.DisplayNameFor(model => model.Student.StudentId)
                    </th>
                    @if (User.IsInRole(Student.RoleName))
                    {
                        <th class="text-right">
                            <a class="btn btn-success" asp-controller="Slot" asp-action="Book">Book a slot</a>
                            <a class="btn btn-danger" asp-controller="Slot" asp-action="Cancel">Cancel a slot</a>
                        </th>
                    }
                    else if (User.IsInRole(Staff.RoleName))
                    {
                    <th class="text-right"><a class="btn btn-success" asp-controller="Slot" asp-action="Create">Create a slot</a></th>
                    }
                </tr>
            </thead>
            <tbody>
            @foreach (Slot slot in Model)
            {
                <tr>
                    <td class="vertical-middle">
                        @Html.DisplayFor(modelItem => slot.RoomId)
                    </td>
                    <td class="vertical-middle">
                        @slot.StartTime?.ToString("dddd, dd MMMM yyyy")
                    </td>
                    <td class="vertical-middle">
                        @slot.StartTime?.ToString("h:mm tt")
                    </td>
                    <td class="vertical-middle">
                        @Html.DisplayFor(modelItem => slot.Staff.StaffId)
                    </td>
                    <td class="vertical-middle">
                        @Html.DisplayFor(modelItem => slot.Student.StudentId)
                    </td>
                    @if (User.IsInRole(Student.RoleName))
                    {
                        <td class="text-right">
                        @if (slot.Student == null)
                        {
                            <form asp-controller="Slot" asp-action="Book">
                                <input type="hidden" asp-for="@slot.RoomId" name="@nameof(slot.RoomId)" class="form-control"/>
                                <input type="hidden" asp-for="@slot.StartTime" name="@nameof(slot.StartTime)" class="form-control"/>
                                <input type="submit" value="Book" class="btn btn-secondary"/>
                            </form>
                        }
                        @if (slot.Student?.Id == UserManager.GetUserId(User))
                        {
                            <form asp-controller="Slot" asp-action="Cancel">
                                <input type="hidden" asp-for="@slot.RoomId" name="@nameof(slot.RoomId)" class="form-control"/>
                                <input type="hidden" asp-for="@slot.StartTime" name="@nameof(slot.StartTime)" class="form-control"/>
                                <input type="submit" value="Cancel" class="btn btn-secondary"/>
                            </form>
                        }
                        </td>
                    }
                    else if (User.IsInRole(Staff.RoleName))
                    {
                        <td class="text-right">
                            <form asp-controller="Slot" asp-action="Remove">
                                <input type="hidden" asp-for="@slot.RoomId" name="@nameof(slot.RoomId)" class="form-control" />
                                <input type="hidden" asp-for="@slot.StartTime" name="@nameof(slot.StartTime)" class="form-control" />
                                <input type="submit" value="Delete" class="btn btn-secondary" />
                            </form>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
        }
        else
        {
            <div>
                <h1>No slots found 😅</h1>
                <p>There seems to be no slots at all! Let's get started.</p>
                <a class="btn btn-primary" asp-controller="Slot" asp-action="Create">Create a slot</a>
            </div>
        }
        <a class="btn" asp-controller="Room" asp-action="AvailabilityIndex">Room Availability</a>
        <a class="btn" asp-controller="Staff" asp-action="Index">Staff listing</a>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}