@using Rmit.Asr.Application.Models
@model IEnumerable<Rmit.Asr.Application.Models.Slot>

<h2 class="pb-2">List Slots</h2>
<p class="pb-2">This page shows all slots that have been created.</p>
<div class="row">
    <div class="col-12">
        @if (Model.Any())
        {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="vertical-middle">
                        @Html.DisplayNameFor(model => model.RoomId)
                    </th>
                    <th class="vertical-middle">
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th class="vertical-middle">
                        @Html.DisplayNameFor(model => model.Staff.StaffId)
                    </th>
                    <th class="vertical-middle">
                        @Html.DisplayNameFor(model => model.Student.StudentId)
                    </th>
                    <th class="text-right"><a class="btn btn-primary" asp-controller="Slot" asp-action="Create">Create a slot</a></th>
                </tr>
            </thead>
            <tbody>
            @foreach (Slot item in Model)
            {
                <tr>
                    <td class="vertical-middle">
                        @Html.DisplayFor(modelItem => item.RoomId)
                    </td>
                    <td class="vertical-middle">
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td class="vertical-middle">
                        @Html.DisplayFor(modelItem => item.Staff.StaffId)
                    </td>
                    <td class="vertical-middle">
                        @Html.DisplayFor(modelItem => item.Student.StudentId)
                    </td>
                    <td class="text-right">
                        <form asp-action="Remove">
                            <input type="hidden" asp-for="@item" class="form-control" />
                            <input type="hidden" asp-for="@item.RoomId" name="@nameof(item.RoomId)" class="form-control" />
                            <input type="hidden" asp-for="@item.StartTime" name="@nameof(item.StartTime)" class="form-control" />
                            <input type="submit" value="Delete" class="btn btn-secondary" />
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        }
        else
        {
            <div>
                <h1>No slots found 😅</h1>
                <p>There seems to be no slots at all! Let's get started.</p>
                <a class="btn btn-primary" asp-controller="Slot" asp-action="Create">Create a slot</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}