@using Rmit.Asr.Application.Models
@model IEnumerable<Rmit.Asr.Application.Models.Slot>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (Slot item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-roomid="@item.RoomID" asp-route-starttime="@item.StartTime">Edit</a> |*@
                @*<a asp-action="Details" asp-route-roomid="@item.RoomID" asp-route-starttime="@item.StartTime">Details</a> |*@
                @*<a asp-action="Details" asp-route-roomid="@item.RoomID" asp-route-starttime="@item.StartTime">Details</a> |*@
                <form asp-action="Remove">
                    <input type="hidden" asp-for="@item" class="form-control" />
                    <input type="hidden" asp-for="@item.RoomId" name="RoomID" class="form-control" />
                    <input type="hidden" asp-for="@item.StartTime" name="StartTime" class="form-control" />
                    <input type="submit" value="Delete" class="btn btn-default" />
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}